<h1>Edit user information</h1>

<%= form_for @user, url: user_path(@user), method: :patch  do |f| %> 
 <div><%= f.label :Name %><br />
  <%= f.text_field :name %></div>
  
  <div><%= f.label :Address %><br/>
  <%= f.text_field :address %></div>

  <div><%= f.label :Contact_number %><br />
  <%= f.telephone_field :contact_no %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

 
 <div>
    <%= f.submit %>
</div>


<%end%>
<%= link_to 'Add users leave',   new_user_leafe_path(@user) %><br>
<%= link_to 'Show All leaves of user',user_leaves_path(@user) %><br>
<%= link_to 'Back', users_path %><br>
